exportPattern("^[[:alpha:]]+")

importFrom("graphics",
           "abline", "arrows", "axis", "barplot", "boxplot", "hist", "legend",
           "lines", "mtext", "par", "plot", "points", "polygon", "rect", "text")

importFrom("grDevices",
           "adjustcolor", "rgb")

importFrom("methods",
           "is")

importFrom("stats",
           "aggregate", "approx", "approxfun", "as.formula", "binomial",
           "complete.cases", "cor", "density", "family", "glm", "integrate",
           "lm", "logLik", "median", "na.omit", "pchisq", "qf", "quantile",
           "qnorm", "resid", "sd", "xtabs", "fitted", "predict")

importFrom("terra",
           "nlyr", "rasterize", "values")

importFrom("utils",
           "combn")
